[submodule "spring-postgres-image-storage"]
	path = spring-postgres-image-storage
	url = https://github.com/MrSnor/spring-postgres-image-storage.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/MrSnor/image-storage-app-frontend.git
